---
layout: default
title: Portfolio
subheading: One Column
breadcrumb: Portfolio
baseurl: /portfolio/
paginate:
  collection: projects
  permalink: /page:num/
  per_page: 4
---
{% if site.modern.portfolio-index-style == '1' %}
	{% include portfolio/index-style-1.html %}
{% elsif site.modern.portfolio-index-style == '2'%}
	{% include portfolio/index-style-2.html %}
{% elsif site.modern.portfolio-index-style == '3'%}
	{% include portfolio/index-style-3.html %}
{% elsif site.modern.portfolio-index-style == '4'%}
	{% include portfolio/index-style-4.html %}
{% else %}
<div class="row">
	<div class="col-lg-12">
		<h2 class="page-header">Select a theme.</h2>
		<p>Assign 'blog-index-style' to your config and give it a value. The following list are supported selections:</p>
		<ul>
			<li><b>1</b> for style 1 from the original bootsrape theme.</li>
			<li><b>2</b> for style 2 from the original bootsrape theme.</li>
		</ul>
		<p>For example <pre>blog-index-style: '1'</pre></p>
	</div>
</div>	
{% endif %}
{% include portfolio/paginator.html %}
