---
layout: default
title: Team Members
permalink: /about/team/
header_imagesrc: http://placehold.it/1200x300
header_imagealt: placeholder image from placehold.it
---
<hr />
{% for member in site.members %}
{% cycle 'add rows' : '<div class="row">', nil , nil  %}   
<div class="col-md-4 text-center">
    <div class="thumbnail">
        <img class="img-responsive" src="{{ member.image }}" alt="Photograph of {{member.name}}.">
        <div class="caption">
            <h3>{{ member.name }}<br>
                <small>{{ member.title }}</small>
            </h3>
            <p>{{ member.description }}</p>
            <ul class="list-inline">
                {% for slink in member.socialmedia %}
                <li><a href="{{slink[1]}}"><i class="fa fa-2x fa-{{slink[0]}}"></i></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
	{% if forloop.last %}
	</div><!-- /.row -->
	{% else %}
	{% cycle 'close rows' : nil, nil, '</div><!-- /.row -->' %}
	{% endif %}
{% endfor %}

