---
layout: blog
title: Blog
subheading: Style Two
paginate:
  collection: posts
  permalink: /page:num/
---
{% for post in paginator.posts %}
	{% if post.author == blank %}
	{% assign post.author = site.author %}
	{% endif %}
	{% assign frontimagesrc = post.frontimagesrc |  %}
	{% assign frontimagealt = post.frontimagealt %}
	{% if post.frontimagesrc == null %}
	{% assign frontimagesrc = 'http://placehold.it/900x300' %}
	{% assign frontimagealt = 'Placeholder Image from placehold.it' %}	
	{% endif %}
<!-- Blog Post Row -->
<div class="row">
	<div class="col-md-1 text-center">
		<p><i class="fa {{post.faicon}} fa-4x"></i></p>
		<p>{{ post.date | date: "%b %-d, %Y" }}</p>
	</div>
	<div class="col-md-5">
		<a href="{{ post.url | prepend: site.url }}">
			<img class="img-responsive img-hover" src="{{frontimagesrc}}" alt="{{frontimagealt}}">
		</a>
	</div>
	<div class="col-md-6">
		<h3>
			<a href="{{ post.url | prepend: site.url }}">{{ post.title | escape }}</a>
		</h3>
		<p>by <a href="#" class="disabled">{{ post.author }}</a>
		</p>
		<p>{{ post.excerpt | markdownify }}</p>
		<a class="btn btn-primary" href="{{ post.url | prepend: site.url }}"">Read More <i class="fa fa-angle-right"></i></a>
	</div>
</div>
<!-- /.row -->

<hr>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pager -->
<div class="row">
		
		<ul class="pager">
			{% if paginator.previous_page %}
			<li class="previous">
				<a href="{{ paginator.previous_page_path | prepend: site.url | replace: '//', '/' }}">&larr; Older</a>
			</li>
			{% else %}
			<li class="previous disabled">
				<a href="#">&larr; Older</a>
			</li>
			{% endif %}
			
			{% if paginator.next_page %}
			<li class="next">
				<a href="{{ paginator.next_page_path | prepend: site.url | replace: '//', '/' }}">Newer &rarr;</a>
			</li>
			{% else %}
			<li class="next disabled">
				<a href="#">Newer &rarr;</a>
			</li>
			{% endif %}
		</ul>
</div>
{% endif %}
<!-- /.row -->