<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ site.modern.organization}}</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ '/about/' | prepend: site.baseurl }}">About</a>
				</li>
				<li>
					<a href="{{ '/services/' | prepend: site.baseurl }}">Services</a>
				</li>
				<li>
					<a href="{{ '/contact/' | prepend: site.baseurl }}">Contact</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ '/portfolio/' | prepend: site.baseurl }}">1 Column Portfolio</a>
						</li>
						<li>
							<a href="{{ '/portfolio-2-col/' | prepend: site.baseurl }}">2 Column Portfolio</a>
						</li>
						<li>
							<a href="{{ '/portfolio-3-col/' | prepend: site.baseurl }}">3 Column Portfolio</a>
						</li>
						<li>
							<a href="{{ '/portfolio-4-col/' | prepend: site.baseurl }}">4 Column Portfolio</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ '/blog/' | prepend: site.baseurl }}">Blog Home 1</a>
						</li>
						<li>
							<a href="{{ '/blog-style-2/' | prepend: site.baseurl }}">Blog Home 2</a>
						</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ '/sidebar/' | prepend: site.baseurl }}">Sidebar Page</a>
						</li>
						<li>
							<a href="{{ '/faq/' | prepend: site.baseurl }}">FAQ</a>
						</li>
						<li>
							<a href="{{ '/404/' | prepend: site.baseurl }}">404</a>
						</li>
						<li>
							<a href="{{ '/pricing/' | prepend: site.baseurl }}">Pricing Table</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>