<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ site.url }}/index/">Start Bootstrap</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{ site.url }}/about/">About</a>
				</li>
				<li>
					<a href="{{ site.url }}/services/">Services</a>
				</li>
				<li>
					<a href="{{ site.url }}/contact/">Contact</a>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ site.url }}/portfolio/">1 Column Portfolio</a>
						</li>
						<li>
							<a href="{{ site.url }}/portfolio-2-col/">2 Column Portfolio</a>
						</li>
						<li>
							<a href="{{ site.url }}/portfolio-3-col/">3 Column Portfolio</a>
						</li>
						<li>
							<a href="{{ site.url }}/portfolio-4-col/">4 Column Portfolio</a>
						</li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ site.url }}/blog/">Blog Home 1</a>
						</li>
						<li>
							<a href="{{ site.url }}/blog-home-2/">Blog Home 2</a>
						</li>

					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ site.url }}/sidebar/">Sidebar Page</a>
						</li>
						<li>
							<a href="{{ site.url }}/faq/">FAQ</a>
						</li>
						<li>
							<a href="{{ site.url }}/404/">404</a>
						</li>
						<li>
							<a href="{{ site.url }}/pricing/">Pricing Table</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>