<!-- Blog Post Row -->
<div class="row">
	<div class="col-md-1 text-center">
		<p><i class="fa {{post.faicon}} fa-4x"></i></p>
		<p>{{ post.date | date: "%b %-d, %Y" }}</p>
	</div>
	<div class="col-md-5">
		<a href="{{ post.url | prepend: site.baseurl }}">
			<img class="img-responsive img-hover" src="{{ page.frontimagesrc | default: site.modern.defaults.blog.frontimagesrc }}" alt="{{ page.frontimagealt }}">
		</a>
	</div>
	<div class="col-md-6">
		<h3>
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
		</h3>
		<p>by <a href="#" class="disabled">{{ post.author }}</a>
		</p>
		<p>{{ post.excerpt | markdownify }}</p>
		<a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}"">Read More <i class="fa fa-angle-right"></i></a>
	</div>
</div>
<hr />
<!-- /.row -->