{% if paginator.total_pages > 1 %}
<!-- Pager -->
<ul class="pager">
	{% if paginator.previous_page %}
	<li class="previous">
		<a href="{{ paginator.previous_page_path | replace: '//', '/' | prepend: site.baseurl }}">&larr; Newer</a>
	</li>
	{% else %}
	<li class="previous disabled">
		<a href="#">&larr; Newer</a>
	</li>
	{% endif %}
	
	{% if paginator.next_page %}
	<li class="next">
		<a href="{{ paginator.next_page_path | replace: '//', '/' | prepend: site.baseurl }}">Older &rarr;</a>
	</li>
	{% else %}
	<li class="next disabled">
		<a href="#">Older &rarr;</a>
	</li>
	{% endif %}
</ul>
{% endif %}