---
layout: default
---
 <div class="row">

	<!-- Blog Entries Column -->
	<div class="col-md-8">
		{% for post in site.posts %}
			{% if post.author == blank %}
			{% assign post.author = site.author %}
			{% endif %}
			{% assign previewimage = post.frontimage %}
			{% if previewimage == blank %}
			{% assign previewimage = 'http://placehold.it/900x300' %}
			{% endif %}
		<!-- Blog Post -->
		<h2>
			<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
		</h2>
		<p class="lead">
			by <a href="#">{{ post.author }}</a>
		</p>
		<p><i class="fa fa-clock-o"></i> Posted on {{ post.date | date: "%b %-d, %Y" }}</p>
		<hr>
		<a href="blog-post.html">
			<img class="img-responsive img-hover" src="{{previewimage}}" alt="">
		</a>
		<hr>
		<p>{{ page.excerpt | markdownify }}</p>
		<a class="btn btn-primary" href="{{ post.url | prepend: site.baseurl }}">Read More <i class="fa fa-angle-right"></i></a>

		<hr>
		{% endfor %}
	</div>
	
</div>