---
layout: blog
title: <% post.title %>
subheading: <% post.subheading %>
---
<div class="row">

	<!-- Blog Post Content Column -->
	<div class="col-lg-8">
		<hr>
		<!-- Date/Time -->
		<p><i class="fa fa-clock-o"></i> Posted on {{ page.date | date: '%B %d, %Y' }}</p>
		<hr>
		
		<!-- Preview Image -->
		<img class="img-responsive" src="{{ page.frontimagesrc | default: site.modern.defaults.blog.frontimagesrc }}" alt="{{ page.frontimagealt }}">
		<hr>

		<!-- Post Content -->
		{{content}}

		<!--<hr>
		
		<a class="pull-left" href="#">
			<img class="media-object" src="http://placehold.it/64x64" alt="">
		</a>
		<div class="media-body">
			<h4 class="media-heading">Start Bootstrap
				<small>August 25, 2014 at 9:30 PM</small>
			</h4>
			Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="http://placehold.it/64x64" alt="">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Nested Start Bootstrap
						<small>August 25, 2014 at 9:30 PM</small>
					</h4>
					Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
				</div>
			</div>
		</div>-->
	</div>
		
	{% include blog/sidebar.html %}
</div>