---
layout: blog
script: |
  <!-- Script to Activate the Carousel -->
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  });
---
{% assign counter = 0 %}
<!-- Portfolio Item Row -->
<div class="row">
	<div class="col-md-8">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{% if page.video %}
				{% assign counter = counter | plus: 1 %}
				<li data-target="#myCarousel" data-slide-to="{{ counter }}" class="active"></li>
				{% endif %}
				{% for image in page.carousel %}
				<li data-target="#myCarousel" data-slide-to="{{ forloop.index | plus: counter  }}" {% if forloop.first and counter  == 0 %}class="active"{% endif %}></li>
				{% endfor %}
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				{% if page.video %}
				<div class="item active">
					<div class="background">
					<iframe width="750px" height="500px" id="player" src="https://www.youtube.com/embed/{{page.video}}?rel=0&amp;showinfo=0&amp;&amp;autohide=1&amp;autoplay=0&amp;controls=0&amp;version=3&amp;enablejsapi=1" frameborder="0" style="width: 100%;top: 5px;margin-bottom: -5px" allowfullscreen></iframe>
					</div>
				</div>
				{% endif %}
				{% for image in page.carousel %}
				<div class="item {% if forloop.first and counter  == 0 %}active{% endif %}">
					<img class="img-responsive" src="{{image.src}}"{% if image.alt %} alt="{{img.alt}}"{% endif %} />
					<div class="carousel-caption">
						<h2>{{ image.title }}</h2>
						<p>{{ image.caption }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
			<!-- Controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="icon-next"></span>
			</a>
		</div>
	</div>
	<div class="col-md-4">
		<h3>Project Description</h3>
		{{content}}
	</div>
	{% if page.video %}
	<script>{% include video-embed.html %}</script>
	{% endif %}
</div>
<!-- /.row -->

<!-- Related Projects Row -->
<div class="row">

	<div class="col-lg-12">
		<h3 class="page-header">Related Projects</h3>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

</div>
<!-- /.row -->
