---
layout: blog
title: <% project.title %>
subheading: <% project.subheading %>
script: |
  <!-- Script to Activate the Carousel -->
  $('.carousel').carousel({
      interval: 5000 //changes the speed
  });
---
<!-- Portfolio Item Row -->
<div class="row">

	<div class="col-md-8">
	{% if page.carousel %}
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				{% for image in page.carousel %}
				<li data-target="#myCarousel" data-slide-to="{{ forloop.index }}" {% if forloop.first %} class="active"{% endif %}></li>
				{% endfor %}
			</ol>

			<!-- Wrapper for slides -->
			
			<div class="carousel-inner">
				{% for image in page.carousel %}
				<div class="item {% if forloop.first %}active{% endif %}">
					<img class="img-responsive" src="{{image.src}}"{% if img.txt %} alt="{{img.text}}"{% endif %} />
					<div class="carousel-caption">
						<h2>{{ image.title }}</h2>
						<p>{{ image.caption }}</p>
					</div>
				</div>
				{% endfor %}
			</div>

			<!-- Controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="icon-next"></span>
			</a>
		</div>
		{% endif %}
	</div>

	<div class="col-md-4">
		<h3>Project Description</h3>
		{{content}}
	</div>

</div>
<!-- /.row -->

<!-- Related Projects Row -->
<div class="row">

	<div class="col-lg-12">
		<h3 class="page-header">Related Projects</h3>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

	<div class="col-sm-3 col-xs-6">
		<a href="#">
			<img class="img-responsive img-hover img-related" src="http://placehold.it/500x300" alt="">
		</a>
	</div>

</div>
<!-- /.row -->
