---
layout: page
title: Projects
subheading: Three Column
breadcrumb: Projects 3 Column
baseurl: /portfolio-3-col/
paginate:
  collection: projects
  per_page: 6
  permalink: "/page:num/"
---
{% for project in paginator.projects %}
	{% if post.author == blank %}
	{% assign post.author = site.author %}
	{% endif %}
	{% assign frontimagesrc = post.frontimagesrc %}
	{% assign frontimagealt = post.frontimagealt %}
	{% if post.frontimagesrc == null %}
	{% assign frontimagesrc = 'http://placehold.it/700x300' %}
	{% assign frontimagealt = 'Placeholder Image from placehold.it' %}			
	{% endif %}
    {% cycle 'add rows' : '<!-- Projects Row --><div class="row">', nil , nil  %}
	<div class="col-md-4 img-portfolio">
		<a href="{{ project.url | prepend: site.url }}">
			<img class="img-responsive img-hover" src="{{frontimagesrc}}" alt="{{frontimagealt}}">
		</a>
		<h3>
			<a href="{{ project.url | prepend: site.url }}">{{ project.title | escape }}</a>
		</h3>
		<p>{{ project.excerpt | markdownify }}</p>
	</div>
	{% cycle 'close rows' : nil, nil, '</div><!-- /.row -->' %}
{% endfor %}	
{% if paginator.total_pages > 1 %}
<!-- Pagination -->
<div class="row text-center">
	<div class="col-lg-12">
		{% if paginator.total_pages > 1 %}
		<!-- Pager -->
		<ul class="pagination">
			{% if paginator.previous_page %}
			<li>
				<a href="{{ paginator.previous_page_path | replace: '//','/' }}">&larr;</a>
			</li>
			{% else %}
			<li class="disabled">
				<a href="#">&larr;</a>
			</li>
			{% endif %}
			
			{% for pages in (1..paginator.total_pages) %}
				{% if pages > 1 %}{% assign pageurltemplate = page.baseurl | append: page.paginate.permalink%}
				{% else %}{% assign pageurltemplate = page.baseurl %}{% endif %}
			<li class="{% if pages == paginator.page %}active{% endif %}">
				<a href="{{ pageurltemplate | replace: ':num',pages | replace: '//','/' }}">{{ pages }}</a>
			</li>
			{% endfor %}
			
			{% if paginator.next_page %}
			<li>
				<a href="{{ paginator.next_page_path | replace: '//','/' }}">&rarr;</a>
			</li>
			{% else %}
			<li class="disabled">
				<a href="#">&rarr;</a>
			</li>
			{% endif %}
		</ul>
		{% endif %}
	</div>
</div>
{% endif %}
<!-- /.row -->